html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 20px;
  z-index: 10;
  background-image: url(../assets/plastic.jpg);
  width: 800px;
  max-width: 80%;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal img {
  height: 180px;
  width: auto;
  float: right;
}

.modal-header {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #EC9A29;
  color: #07004D;
}

.modal-header .title {
  font-size: 2.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2rem;
  font-weight: bold;
  color: #A3320B;
}

.modal-body {
  padding: 10px 15px;
  font-size: 2.25rem;
}

.modal-body span {
  color: #A3320B;
  outline: yellowgreen;
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.instructions {
  margin: 10px 15px;
  padding: 0;
  border: 2px solid black;
}

.instructions:active,
.instructions:focus {
  padding: 0;
  margin: 10px 15px;
  border: 2px solid black;
}

html {
  font-size: 62.5%;
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 4rem;
}

main h1 {
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.gifContainer {
  margin: 0;
  padding: 0;
  margin-top: -69px;
  outline: 15px solid #EC9A29;
  background: black;
  margin-right: 15px;
}

.baseMoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: -5px;
}

.sadMoods {
  margin-top: 0;
}

.extraFunContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 5px;
  padding-bottom: 10px;
}

.extraFunContainer label,
.extraFunContainer input {
  margin-top: 0;
}

.extraSadContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 10px;
  padding-left: 5px;
}

.keyboardContainer {
  height: 140px;
  background-repeat: repeat;
}

.accidentalsContainer {
  width: 446px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[42];
      grid-template-columns: repeat(42, 1fr);
  height: 50%;
  justify-items: center;
  padding-bottom: 2%;
  margin: 0 auto;
  margin-top: 140px;
}

.accidentalsContainer button {
  width: 41px;
  height: 92px;
  background: #141301;
  border: 1px solid #EC9A29;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
  top: -290px;
  position: relative;
  z-index: 1;
  border-top: none;
}

.accidentalsContainer button.C {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / span 2;
}

.accidentalsContainer button.D {
  -ms-grid-column: 12;
  -ms-grid-column-span: 3;
  grid-column: 12 / span 3;
}

.accidentalsContainer button.F {
  -ms-grid-column: 26;
  -ms-grid-column-span: 2;
  grid-column: 26 / span 2;
}

.accidentalsContainer button.G {
  -ms-grid-column: 33;
  -ms-grid-column-span: 2;
  grid-column: 33 / span 2;
}

.accidentalsContainer button.A {
  -ms-grid-column: 38;
  -ms-grid-column-span: 1;
  grid-column: 38 / span 1;
}

.naturalsContainer {
  width: 480px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  height: 160px;
  margin: 0 auto;
  border: 10px solid #A3320B;
}

.naturalsContainer button {
  background-image: url(../assets/plastic.jpg);
  border: 1px solid black;
  border-radius: 0 0 6px 6px;
}

button {
  cursor: pointer;
}

button:active, button:focus {
  border: 0;
  outline: rgba(225, 225, 225, 0);
}

.naturalsContainer p {
  font-size: 1.75em;
  top: 100px;
  position: relative;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9), 0 -1px 1px rgba(0, 0, 0, 0.1);
  color: #1b1b1e;
}

.resetButton {
  color: #07004D;
  line-height: 0.4;
  font-size: 12px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: 25px;
  margin-right: 10px;
  margin-left: 5px;
  background-color: #A3320B;
  border: 2px solid #EC9A29;
}

.resetButton:active,
.resetButton:focus {
  background-color: #A3320B;
  border: 2px solid #EC9A29;
}

body {
  background-image: url(../assets/bladerunnerBackground.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

body h1 {
  text-align: center;
  color: #EC9A29;
  padding: 0;
  margin: 0;
  margin-top: 55px;
}

.noClick {
  pointer-events: none;
}

.hideMe {
  display: none;
}

main {
  background-image: url(../assets/graphite.jpg);
  background-repeat: repeat;
  margin-top: 15px;
  border-radius: 25px;
}

.mainAll {
  border: 1px solid #A3320B;
  background-image: url(../assets/graphite.jpg);
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 950px;
  border-radius: 25px;
}

.instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: auto;
  background-color: #878E88;
  border: 3px solid #07004D;
  border-radius: 10px;
  padding-left: 3px;
  padding-right: 3px;
}

.instructions:active,
.instructions:focus {
  border: 3px solid #07004D;
  padding-left: 3px;
  padding-right: 3px;
}

.instructions p {
  line-height: 0.4;
  color: #141301;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}

.monitorAndMixer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3%;
  background-repeat: repeat;
  padding-top: 118px;
  margin-right: -13px;
}

.monitorRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -145px;
}

.checkboxContainer {
  background-image: url(.././assets/mixerBack.jpg);
  height: 161px;
  width: 480px;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
  border-radius: 10px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 15px;
  font-size: 20px;
  color: #EC9A29;
}

.checkbox > input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: url(../assets/dials.jpg);
  background-size: cover;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.checkbox > input:checked {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 1000px;
}

.credits p {
  font-size: 14px;
  color: #EC9A29;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 10px;
}

@media (max-width: 950px) {
  .mainAll {
    width: 850px;
  }
}

@media (max-width: 875px) {
  .monitorRight > h1:nth-child(1) {
    display: none;
  }
  .hideMe {
    display: inline-block;
    text-align: center;
    font-size: 26px;
    color: #EC9A29;
    padding: 10px 0 0 0;
    margin: 0;
    margin-bottom: -22px;
  }
  .mainAll {
    width: 525px;
  }
  .monitorAndMixer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body h1 {
    padding-top: 15px;
  }
  .instructions {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .checkboxContainer {
    margin-top: -10px;
  }
  .gifContainer {
    margin-bottom: 150px;
  }
  .credits p {
    text-align: start;
    padding-left: 18%;
    padding-top: 2%;
  }
}

@media (max-width: 667px) {
  .modal-header .title {
    font-size: 20px;
  }
}

@media (max-width: 560px) {
  .mainAll {
    margin-top: 20px;
    width: 70%;
  }
  .checkboxContainer {
    width: 330px;
    margin-left: 0px;
    border-radius: 0;
  }
  .naturalsContainer {
    width: 330px;
    margin-left: 0px;
  }
  .accidentalsContainer {
    width: 296px;
  }
  .accidentalsContainer button.C {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / span 2;
  }
  .accidentalsContainer button.A {
    -ms-grid-column: 40;
    -ms-grid-column-span: 1;
    grid-column: 40 / span 1;
  }
  .accidentalsContainer button.G {
    -ms-grid-column: 34;
    -ms-grid-column-span: 2;
    grid-column: 34 / span 2;
  }
  .accidentalsContainer button.D {
    -ms-grid-column: 13;
    -ms-grid-column-span: 3;
    grid-column: 13 / span 3;
  }
  .credits p {
    font-size: 12px;
    padding-left: 8%;
    padding-top: 3%;
  }
  .checkbox {
    font-size: 15px;
  }
  .instructions,
  .instructions:active,
  .instructions:focus {
    margin-bottom: 11px;
    width: 330px;
    border-radius: 0;
    margin-left: 0px;
    border: 1px solid #878E88;
  }
  .accidentalsContainer button.A {
    -ms-grid-column: 39;
    -ms-grid-column-span: 1;
    grid-column: 39 / span 1;
  }
  .accidentalsContainer button.G {
    -ms-grid-column: 33;
    -ms-grid-column-span: 2;
    grid-column: 33 / span 2;
  }
  .accidentalsContainer button.D {
    -ms-grid-column: 12;
    -ms-grid-column-span: 3;
    grid-column: 12 / span 3;
  }
  .accidentalsContainer button.C {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4 / span 2;
  }
  .accidentalsContainer button.F {
    -ms-grid-column: 25;
    -ms-grid-column-span: 2;
    grid-column: 25 / span 2;
  }
  .modal-body {
    font-size: 2rem;
  }
  .modal {
    max-width: 85%;
  }
}

@media (max-width: 525px) {
  .mainAll {
    width: 80%;
  }
}

@media (max-width: 490px) {
  .gifContainer {
    outline: 5px solid #EC9A29;
  }
  .mainAll {
    width: 400px;
    max-width: 95%;
  }
  .naturalsContainer {
    border: 5px solid #A3320B;
  }
  .accidentalsContainer button {
    top: -294px;
  }
  .instructions {
    margin-top: 0;
    width: 310px;
    margin-left: 0px;
  }
  .checkboxContainer {
    width: 310px;
    margin-left: 0px;
  }
  .instructions:active,
  .instructions:focus {
    margin-top: 0;
    width: 310px;
    margin-left: 0px;
  }
  .naturalsContainer {
    width: 310px;
    margin-left: 0px;
    border: 3px solid #A3320B;
  }
  .accidentalsContainer button {
    top: -297px;
  }
  .modal-body {
    font-size: 18px;
  }
  .hideMe {
    margin-bottom: -40px;
  }
  .credits p {
    padding-left: 12%;
    padding-top: 3%;
  }
  .modal img {
    height: 130px;
  }
  .modal-header .title {
    font-size: 18px;
  }
}

@media (max-width: 410px) {
  .credits p {
    font-size: 10px;
    margin-left: 5%;
  }
  .modal-body {
    font-size: 16px;
  }
  .modal img {
    height: 120px;
  }
}

@media (max-width: 385px) {
  .credits p {
    padding-top: 4%;
    margin-left: 4%;
  }
  .modal img {
    height: 100px;
  }
}

@media (max-width: 360px) {
  .credits p {
    margin-left: 2%;
  }
}

@media (max-width: 340px) {
  .mainAll {
    max-width: 97%;
  }
  .credits p {
    margin-left: 0%;
  }
  .modal-header .title {
    font-size: 14px;
  }
}

@media (max-width: 325px) {
  .gifContainer {
    outline: 1px solid #EC9A29;
  }
  .checkboxContainer {
    width: 302px;
  }
  .instructions {
    width: 302px;
  }
  .instructions:active,
  .instructions:focus {
    width: 302px;
  }
  .naturalsContainer {
    border: 1px solid #A3320B;
    width: 302px;
  }
  .accidentalsContainer button {
    top: -298px;
  }
}

@media (max-width: 323px) {
  .accidentalsContainer button {
    top: -299px;
  }
}
